
<mat-expansion-panel (opened)="panelOpenState = false"
                     (closed)="panelOpenState = false">
  <mat-expansion-panel-header>
    <mat-panel-title>
      {{car.model}}
    </mat-panel-title>
    <mat-panel-description>
      <span *ngIf="panelOpenState; else carInfo"></span>
    </mat-panel-description>
  </mat-expansion-panel-header>
  {{car|json}}
</mat-expansion-panel>

<ng-template #carInfo >
  id: {{car.id}}
  model: {{car.model}}
  price: {{car.price}}
  year: {{car.year}}
</ng-template>
